body {
    font-family: Fira Sans, sans-serif;
    font-size: 1.2em;
    background-color: #f9f9fa;
    padding: 1.4em;
    color: #0c0c0d;
}

input {
    font-size: 1.2em;
    margin: 0 0 0.7em 0;
    font-weight: lighter;
}

h1 {
    font-weight: 400;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

button {
    font-size: 15px;
    background:#0060df;
    color:white;
    height:48px;
    padding:16px;
    border:0;
    border-radius: .25rem;
}

button:hover{
    background:#003eaa;
}

button:active{
    background:#003eaa;
}

#message {
    color: #737373;
}

#output {
    position: absolute;
    top: -5px;
    width: 1px;
    height: 1px;
    z-index: -1;
    background: transparent;
    color: transparent;
    border: 0;
}

.error {
    color: #ff0039!important; 
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.setting {
    padding:1em;
    background:white;
    box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
    border-radius: .25rem;
    margin-bottom: 1em;
}

.setting label {
    font-weight: bold;
}

.info {
    padding:1em;
    background: #fff;
    box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
    border-radius: .25rem;
    margin-bottom: 1em;
}
